@font-face {
        font-family: "bellmt-normal";
        src: url("/asbm_certificate/static/src/fonts/BellMT.ttf") format("truetype");
        font-weight: normal;
}
@font-face{
        font-family: "bellmt-bold";
        src: url("/asbm_certificate/static/src/fonts/BellMTBold.ttf") format("truetype");
        font-weight: bold;
}
@font-face{
        font-family: "bellmt-italic";
        src: url("/asbm_certificate/static/src/fonts/BellMTItalic.ttf") format("truetype");
        font-weight: normal;
}
@font-face{
        font-family: "book-antiqua";
        src: url("/asbm_certificate/static/src/fonts/Book_Antiqua_Font.ttf") format("truetype");
        font-weight: normal;
        letter-spacing:1px;
}
@font-face{
        font-family: "lucida-calligraphy-italic";
        src: url("/asbm_certificate/static/src/fonts/lucida calligraphy italic.ttf") format("truetype");
        font-weight: bold;
}
@font-face{
        font-family: "lucida-calligraphy";
        src: url("/asbm_certificate/static/src/fonts/LCALLIG.TTF") format("truetype");
        font-weight: normal;
}